@namespace Client.UI.Layouts
@inherits LayoutComponentBase

@* @if (IsAuthenticated)
{ *@
<AntDesign.ProLayout.BasicLayout Logo="@("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg")"
                                 MenuData="MenuData"
                                 MenuAccordion="true"
                                 @bind-Collapsed="Collapsed">
    <HeaderContentRender>
        <Space Size="@("24")">
            <SpaceItem>
                <Icon Class="action" Type="@(Collapsed?"menu-unfold":"menu-fold")" OnClick="Toggle" />
            </SpaceItem>
            <SpaceItem>
                <Icon Class="action" Type="reload" Theme="outline" OnClick="Reload" />
            </SpaceItem>
        </Space>
    </HeaderContentRender>
    <RightContentRender>
        <Space Size="@("24")">

            <SpaceItem>
                <AvatarDropdown Name="@CurrentUser.Name"
                                Avatar="@CurrentUser.Avatar"
                                MenuItems="@AvatarMenuItems"
                                OnItemSelected="HandleSelectUser" />
            </SpaceItem>

        </Space>

    </RightContentRender>
    <ChildContent>
        <ReuseTabs></ReuseTabs>
    </ChildContent>
    <FooterRender>
        <FooterContent></FooterContent>
    </FooterRender>

</AntDesign.ProLayout.BasicLayout>

@* }
else
{
  <div>a</div>
}
 *@
